<html>
    <body>
        @Html.ColorfulHeading(1, "red", ViewData["country"].ToString())
        @Html.ColorfulHeading(2, "orange", ViewData["state"].ToString())
        @Html.ColorfulHeading(3, "blue", ViewData["county"].ToString())
        @Html.ColorfulHeading(4, "greem", ViewData["city"].ToString())
    </body>
</html>