<html>
    <head>
        <title>My Web App</title>
    </head>
    <body>
        |@Html.ActionLink("Home", "Home")
        |@Html.ActionLink("Page1", "Page1")
        |@Html.ActionLink("Page2", "Page2")|
        <hr/>
        @RenderBody()
        <hr/>
        Copyright | @DateTime.Now.ToString()
    </body>
</html>